<!DOCTYPE html>
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Add new coach</h2>
		<label>First Name</label>
		<input type="text" name="firstName" class="form-control" required>

		<label>Last Name</label>
		<input type="text" name="lastName" class="form-control" required>

		<label>Title</label>
		<input type="text" name="title" class="form-control" required>

		<label>Team</label>
		<br>
		<select name="team">
			<option value="-1">Free Agent</option>
			{{#each results}}
			<option value={{this.teamID}}>{{this.teamName}}</option>
			{{/each}}
		</select>

		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
	</form>