<!DOCTYPE html>
<h1>Coaches</h1>
<a href='coaches-new'>Add new coach</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Team</th>
  </tr>
  {{#each results}}
  <tr id={{this.id}}>
    <td>{{this.name}}</td>
    <td>{{this.title}}</td>
    <td>{{this.teamName}}</td>
  </tr>
  {{/each}}
</table>
<script></script>