<!DOCTYPE html>
<h1>Players</h1>
<a href='players-new'>Add new player</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Team</th>
    <th></th>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td><button>delete</button><button>update</button></td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td><button>delete</button><button>update</button></td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>    
    <td><button>delete</button><button>update</button></td>
  </tr>
</table>