<h1>Corporate Sponsors</h1>
<a href='sponsors-new'>Add new sponsor</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tbody id='sponsorList'>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Product Type</th>
  </tr>
  </tbody>
</table>
<script>

  window.history.pushState("", "", '/sponsors');


  $.get( '/sponsors-get', function( data ) {
    for (var i=0; i<data.length; i++){
       						$("#sponsorList").append(" \
                                            <tr> \
                                              <td><button onClick=goToEditPage(" + data[i].sponsorID + ")>Update</button></td> \
                                              <td><button onClick = 'deleteRow ("+ data[i].sponsorID + ")'>delete</button></td> \
                                              <td>" + data[i].name + "</td> \
                                              <td>" + data[i].productType + "</td> \
                                            </tr>");

    }


  });

  function deleteRow ( sponsorID){

    $.post( '/sponsors-delete/' + sponsorID, function( data ) {
      location.reload();
    });
  }

  function goToEditPage(id, y){

    window.location.replace('../sponsors-update/' + id);

  }


</script>