<h1>Sponsorships</h1>
<a href='sponsors-new'>Add new sponsorship</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Sponsor</th>
    <th></th>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td><button>delete</button></td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td><button>delete</button></td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td><button>delete</button></td>
  </tr>
</table>