
<div class="container">
  <div class="row">
	<h3>Search for player to add statistic to by first or last name</h3>
    <div class="col-md-6">
		<h4>first name</h4>
		<div class="search-container">
			<input id='fname' type="text" placeholder="Search..">
		</div>
		
		<h4>last name</h4>
		<div class="search-container">
			<input  id='lname' type="text" placeholder="Search..">
		</div>
    </div>
    <div class="col-md-6">
		<br>
		<button onClick='searchForPlayer()' type="button">Search</button>


		<h3>Results</h3>
		<ul class="list-group">
					<div id='results-grid' style="width:100%"></div>
		</ul>
    </div>
  </div>
</div>




	
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Add sponsorship</h2>
		<label>Player</label>
		<div id="playerSelectionDisplay">Search for a player give a sponsorship to</div>
		<input type="hidden" id="playerSelection" type="text" name="playerID" class="form-control" value="" readonly>

		<label>Sponsor</label>
		<br>
		<select id="sponsorIDList" name="sponsorID">
		</select>

		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
	</form>

	<script>

	// populate search by first and last name
	function searchForPlayer() {
		$.ajax({
				url: '/players-search',
				data: { 
						"lastNameSearchTerm": $("#lname").val(), 
						"firstNameSearchTerm": $("#fname").val(), 
				},
				type: "GET",
				success: function(data) {
					// remove all rows from previous search
 					$("body").find(".list-group-item").remove();

					// get search results
					for (var i=0; i<data.length; i++){
							$("#results-grid").after(" \
																						 \
																								<li class='list-group-item'>" + data[i].playerName + " - " + data[i].team + "   \
																								<button onClick = 'selectPlayer (" + data[i].playerid + ", " + "\"" + data[i].playerName +"\"" + ")'>Select this player</button></li> \
																						"
																						);
					}

				}
		});
	}

	function selectPlayer(playerid, name){
		$("#playerSelectionDisplay").text(name)
		$("#playerSelection").val(playerid)
	}

  $.get( '/sponsors-get', function( data ) {
    for (var i=0; i<data.length; i++){
       						$("#sponsorIDList").append("<option value='" + data[i].sponsorID + "'>" + data[i].name + "</option>");

    }

		console.log(data)

  });



</script>