
<div class="container">
  <div class="row">
	<h3>Search for player to add statistic to by first or last name</h3>
    <div class="col-md-6">
		<h4>first name</h4>
		<div class="search-container">
			<input type="text" placeholder="Search..">
			<button type="button">Search</button>
		</div>
		
		<h4>last name name</h4>
		<div class="search-container">
			<input type="text" placeholder="Search..">
			<button type="button">Search</button>
		</div>
    </div>
    <div class="col-md-6">

		<h3>Results</h3>
		<table style="width:100%">
		<tr>
			<th>First name</th>
			<th>Last name</th> 
			<th>Team</th>
		</tr>
		<tr>
			<td>Jim</td>
			<td>Smith</td> 
			<th><button type="button">Select this player</button></th>
		</tr>
		<tr>
			<td>James</td>
			<td>Jackson</td> 
			<th><button type="button">Select this player</button></th>
		</tr>
		</table>
    </div>
  </div>
</div>




	
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Add sponsorship</h2>
		<label>Player</label>
		<input type="text" name="playerID" class="form-control" value="James Jackson" readonly>

		<label>Sponsor</label>
		<br>
		<select name="sponsorID">
			<option value="1">will populate from db later</option>
			<option value="2">will populate from db later</option>
			<option value="3">will populate from db later</option>
		</select>

		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
	</form>