
<div class="container">
  <div class="row">
	<h3>Search for player to add statistic to by first or last name</h3>
    <div class="col-md-6">
		<h4>first name</h4>
		<div class="search-container">
			<input type="text" placeholder="Search..">
			<button type="button">Search</button>
		</div>
		
		<h4>last name name</h4>
		<div class="search-container">
			<input type="text" placeholder="Search..">
			<button type="button">Search</button>
		</div>
    </div>
    <div class="col-md-6">

		<h3>Results</h3>
		<table style="width:100%">
		<tr>
			<th>First name</th>
			<th>Last name</th> 
			<th>Team</th>
		</tr>
		<tr>
			<td>Jim</td>
			<td>Smith</td> 
			<th><button type="button">Select this player</button></th>
		</tr>
		<tr>
			<td>James</td>
			<td>Jackson</td> 
			<th><button type="button">Select this player</button></th>
		</tr>
		</table>
    </div>
  </div>
</div>
	
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Add statistic</h2>
		<label>Player</label>
		<input type="text" name="playerID" class="form-control" value="James Jackson" readonly>


		<label>year</label>
		<input type="text" name="year" class="form-control" required>

		<label>Passing Attempts</label>
		<input type="text" name="passingAttempts" class="form-control">

		<label>Passing Completions</label>
		<input type="text" name="passingCompletions" class="form-control">

		<label>Passing Yards</label>
		<input type="text" name="passingYards" class="form-control">

		<label>Passing Touchdowns</label>
		<input type="text" name="passingTouchdowns" class="form-control">

		<label>Receptions</label>
		<input type="text" name="receptions" class="form-control">

		<label>Receiving Yards</label>
		<input type="text" name="receivingYards" class="form-control">

		<label>Receiving Touchdowns</label>
		<input type="text" name="receivingTouchdowns" class="form-control">

		<label>Rushes</label>
		<input type="text" name="rushes" class="form-control">

		<label>Rushing Yards</label>
		<input type="text" name="rushingYards" class="form-control">

		<label>Rushing Yards</label>
		<input type="text" name="rushingYards" class="form-control">

		<label>Rushing Touchdowns</label>
		<input type="text" name="rushingTouchdowns" class="form-control">

		<label>Tackles</label>
		<input type="text" name="tackles" class="form-control">

		<label>Sacks</label>
		<input type="text" name="sacks" class="form-control">

		<label>Interceptions</label>
		<input type="text" name="interceptions" class="form-control">

		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
	</form>