<h1>Season Statistics</h1>
<a href='stats-new'>Add new season statistic</a>
<br>
<br>
<table id = "statsList" style="width:100%" class="table table-striped">
  <tr>
    <th></th>
    <th></th>
    <th>Player Name</th>
    <th>Year</th>
    <th>Passing Attempts</th>
    <th>Passing Completions</th>
    <th>Passing Yards</th>
    <th>Passing Touchdowns</th>
    <th>Receptions</th>
    <th>Receiving Yards</th>
    <th>Receiving Touchdowns</th>
    <th>Rushes</th>
    <th>Rushing Yards</th>
    <th>Rushing Touchdowns</th>
    <th>Tackles</th>
    <th>Sacks</th>
    <th>Interceptions</th>
  </tr>
</table>

<script>

  window.history.pushState("", "", '/stats');


  $.get( '/stats-get', function( data ) {
    for (var i=0; i<data.length; i++){
       						$("#statsList").append(
                     "<tr> \
                        <td><button onClick=goToEditPage(" + data[i].playerid + "," +  data[i].year + ")>Update</button></td> \
                        <td><button onClick = 'deleteRow (" + data[i].playerid + ',' + data[i].year + ")'>delete</button></td> \
                        <td>" + (data[i].playerName || "") + "</td> \
                        <td>" + (data[i].year  || "") + "</td> \
                        <td>" + (data[i].passingattempts  || "") + "</td> \
                        <td>" + (data[i].passingcompletions  || "") + "</td> \
                        <td>" + (data[i].passingyards  || "")  + "</td> \
                        <td>" + (data[i].passingtouchdowns  || "")  + "</td> \
                        <td>" + (data[i].receptions  || "") + "</td> \
                        <td>" + (data[i].receivingyards  || "") + "</td> \
                        <td>" + (data[i].receivingtouchdowns   || "") + "</td> \
                        <td>" + (data[i].rushes || "") + "</td> \
                        <td>" + (data[i].rushingyards || "") + "</td> \
                        <td>" + (data[i].rushingtouchdowns || "") + "</td> \
                        <td>" + (data[i].tackles || "") + "</td> \
                        <td>" + (data[i].sacks || "") + "</td> \
                        <td>" + (data[i].interceptions || "") + "</td> \
                      </tr>");

    }


  });

  function goToEditPage(id, y){

    window.location.replace('../stats-update/' + id + "/" + y);

  }

  function deleteRow (playerID, year){

    $.post( '/stats-delete/' + playerID + '/' + year, function( data ) {
      location.reload();
    });
  }

</script>