
<div class="container">
  <div class="row">
	<h3>Search for player to add statistic to by first or last name</h3>
    <div class="col-md-6">
		<h4>first name</h4>
		<div class="search-container">
			<input id='fname' type="text" placeholder="Search..">
		</div>
		
		<h4>last name</h4>
		<div class="search-container">
			<input  id='lname' type="text" placeholder="Search..">
		</div>
    </div>
    <div class="col-md-6">
		<br>
		<button onClick='searchForPlayer()' type="button">Search</button>


		<h3>Results</h3>
		<ul class="list-group">
					<div id='results-grid' style="width:100%"></div>
		</ul>
    </div>
  </div>
</div>

	
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Add statistic</h2>
		<label>Player</label>
		<div id="playerSelectionDisplay">Search for a player give a sponsorship to</div>
		<input type="hidden" id="playerSelection" type="text" name="playerID" class="form-control" value="" readonly>


		<label>year</label>
		<input type="text" name="year" class="form-control" required>

		<label>Passing Attempts</label>
		<input type="text" name="passingAttempts" class="form-control">

		<label>Passing Completions</label>
		<input type="text" name="passingCompletions" class="form-control">

		<label>Passing Yards</label>
		<input type="text" name="passingYards" class="form-control">

		<label>Passing Touchdowns</label>
		<input type="text" name="passingTouchdowns" class="form-control">

		<label>Receptions</label>
		<input type="text" name="receptions" class="form-control">

		<label>Receiving Yards</label>
		<input type="text" name="receivingYards" class="form-control">

		<label>Receiving Touchdowns</label>
		<input type="text" name="receivingTouchdowns" class="form-control">

		<label>Rushes</label>
		<input type="text" name="rushes" class="form-control">

		<label>Rushing Yards</label>
		<input type="text" name="rushingYards" class="form-control">

		<label>Rushing Touchdowns</label>
		<input type="text" name="rushingTouchdowns" class="form-control">

		<label>Tackles</label>
		<input type="text" name="tackles" class="form-control">

		<label>Sacks</label>
		<input type="text" name="sacks" class="form-control">

		<label>Interceptions</label>
		<input type="text" name="interceptions" class="form-control">

		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
	</form>


	
	<script>

	// populate search by first and last name
	function searchForPlayer() {
		$.ajax({
				url: '/players-search',
				data: { 
						"lastNameSearchTerm": $("#lname").val(), 
						"firstNameSearchTerm": $("#fname").val(), 
				},
				type: "GET",
				success: function(data) {
					// remove all rows from previous search
 					$("body").find(".list-group-item").remove();

					// get search results
					for (var i=0; i<data.length; i++){
							$("#results-grid").after(" \
																						 \
																								<li class='list-group-item'>" + data[i].playerName + " - " + data[i].team + "   \
																								<button onClick = 'selectPlayer (" + data[i].playerid + ", " + "\"" + data[i].playerName +"\"" + ")'>Select this player</button></li> \
																						"
																						);
					}

				}
		});
	}

	function selectPlayer(playerid, name){
		$("#playerSelectionDisplay").text(name)
		$("#playerSelection").val(playerid)
	}



</script>