<h1>Season Statistics</h1>
<a href='stats-new'>Add new season statistic</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Player Name</th>
    <th>Year</th>
    <th>Passing Attempts</th>
    <th>Passing Completions</th>
    <th>Passing Yards</th>
    <th>Passing Touchdowns</th>
    <th>Receptions</th>
    <th>Receiving Yards</th>
    <th>Receiving Touchdowns</th>
    <th>Rushes</th>
    <th>Rushing Yards</th>
    <th>Rushing Touchdowns</th>
    <th>Tackles</th>
    <th>Sacks</th>
    <th>Interceptions</th>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
  </tr>
</table>