<!DOCTYPE html>
	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Add new team</h2>
		<label>Team Name</label>
		<input type="text" name="teamName" class="form-control" required>

		<label>Location</label>
		<input type="text" name="location" class="form-control" required>

		<label>State</label>
		<input type="text" name="state" class="form-control" required>

		<label>Year Founded</label>
		<input type="text" name="year_founded" class="form-control">

		<label>Majority Owner</label>
		<input type="text" name="majority_owner" class="form-control">
		
		<label>Conference</label>
		<br>
		<select name="conference">
			<option value="National Football Conference">National Football Conference</option>
			<option value="American Football Conference">American Football Conference</option>
		</select>
		<br>

		<label>Division</label>
		<br>
		<select name="division">
			<option value="East">East</option>
			<option value="West">West</option>
			<option value="North">North</option>
			<option value="South">South</option>
		</select>

		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
	</form>