<h1>Teams</h1>
<a href='teams-new'>Add new team</a>
<br>
<br>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Year Founded</th>
    <th>Majority Owner</th>
    <th>Conference</th>
    <th>Division</th>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
  </tr>
  <tr>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
    <td>Will populate from DB later</td>
  </tr>
</table>