<!doctype html>
<html>
<head>
	<title>NFL Database</title>
	<link rel="stylesheet" type="text/css" href="home.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<div class="container">

	
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/teams">Teams</a></li>
		<li class="breadcrumb-item"><a href="/players">Players</a></li>
		<li class="breadcrumb-item"><a href="/coaches">Coaches</a></li>
		<li class="breadcrumb-item"><a href="/stats">Season Statistics</a></li>
		<li class="breadcrumb-item"><a href="/sponsors">Corporate Sponsors</a></li>
		<li class="breadcrumb-item"><a href="/sponsorships">Sponsorships</a></li>
	</ol>

	{{{body}}}
</div>

<br>
<br>

</body>
</html>
