	<form method="post" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label class="sr-only">Username</label>
		<input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">

		<label class="sr-only">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password" required="">
		<br>

		<a href="/register"> Not a user yet? Register here</a>
		<br>
		<br>

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
	</form>